rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // Reglas Seguras para Producción
    
    // 1. Usuarios: Cada uno solo accede a lo suyo
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /history/{logId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
    
    // 2. Dispositivos: Solo usuarios logueados pueden vincular o leer el mapeo
    match /devices/{deviceId} {
      allow read, write: if request.auth != null;
    }
    
    // 3. Bloquear todo lo demás por defecto
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
